.input-individual-conversation {
    display: flex; /* Make the content inside the container flex */
    justify-content: space-between; /* Space evenly between the child elements (input and button) */
    align-items: center; /* Center the content vertically */
    background-color: #F5F5F5;
    padding: 10px; /* Add padding around the content */
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

.text-area-indiv {
	display: block;
    height: 100%;
	width: 100%;
	/* min-height: 7%; */
	overflow: auto;
	resize: none;
	line-height: 20px;
	max-height: 100%;
	border: none;
	/* Remove textarea border */
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	opacity: 0.7;
}

.text-area-indiv::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.input-individual-conversation button {
    background-color: #007BFF;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.input-individual-conversation button:hover {
    background-color: #0056b3;
}