.channel-input-text-conv {
	width: 64%;
	height: 90%;	
	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 10px;

	border: 1px solid black;
}

.message-input-channel-up-span-conv {
	display: block;
	width: 100%;
	height: 102px;
	min-height: 7%;
	overflow: auto;
	/* resize: none; */
	line-height: 20px;
	max-height: 200px;
	border: none;
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	opacity: 0.7;
	order: 2;
	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}


.message-input-channel-up-span-conv[contenteditable]:empty::before {
	content: '   Anything to say ?';
	display: inline-block;
	cursor: text;
	overflow-y: auto;
	font-family: montserrat_xp;
    font-weight: bold;
    font-size: 11px;
    color: rgb(160, 160, 160);
	padding-left: 5px;
}

.text-area-indiv::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.input-individual-conversation-button {
    background-color: #007BFF;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.input-individual-conversation-button:hover {
    background-color: #0056b3;
}

.textarea {
	white-space: pre-line;
}

.channel-down-2 {
	width: 100%;
	height: 31.2%;
	background-color: #ece8d8ea;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/* justify-content: flex-end; */
}