@font-face {
    font-family: south_park_font;
    src: url(../../fonts/south\ park.ttf)
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
    overflow: hidden;
}

.credits {
	width:100vw;
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 90px;
	background-color: black;
}

.title {
	font-family: south_park_font;
	font-size: 500%;
	text-align: center;
}

.subtitle {
	font-family: south_park_font;
	font-size: 480%;
	text-align: center;
}

.big_thanks {
	text-align: center;
	width: 50vw;
}

p {
	font-family: south_park_font;
	font-size: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
}

.white { color: white; }
.purple { color: mediumslateblue; }
.blue { color: blue; }
.cyan { color: cyan; }
.green { color: green; }
.greenyellow { color: greenyellow; }
.red { color: red; }
.yellow { color: yellow; }
.magenta { color: magenta; }
.orange { color: orange}
