@font-face {
	font-family: south_park_font;
	src: url(../../fonts/south\ park.ttf)
}

#body {
	padding: 0;
	margin: 0;

	height: 100%;
	width: 100%;

	background: url("../../img/south_park_town.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color:#89cede;

	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

#bouton {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: gold;
	color: black;
	font-size: 100px;
	font-family: south_park_font;
}

.number {
	display: flex;
	align-items: center;
	font-size: 100px;
	justify-content: flex-end;
}

.animate {
    filter: url("#blurFilter");
}

.left, .right {
	min-width: 11rem;
	text-align: right;
}

.right {
	padding-right: 1rem;
}

.separator {
	opacity: 0;
	transition: opacity 0.1s ease;
}

/* .svgFilter {
	display: none;
} */

.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
