@font-face {
    font-family: south_park_font;
    src: url(../../fonts/south\ park.ttf)
}

body {
	padding: 0;
	margin: 0;
    overflow: hidden;
}

#page_credits {
	height: 100vh;
	display: flex;
	align-items: center;
    background-color: white;
}

#bg {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-color:#89cede;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#boutons {
    position: absolute;
    margin-top: 100px;
    top: 0%;
    left:0%;
    height: 15vh;
    width:100%;
    z-index: 2;
}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    width: fit-content;
    height: 100%;
    animation: marquee 10s linear infinite;
    font-size: 500%;
    font-family: south_park_font;
}

.round {
    height: 120%;
    aspect-ratio: 1/1;
    outline: none;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 10px magenta;
    position: relative;
    cursor: pointer;
    background-image: linear-gradient(
        to bottom, rgb(9, 112, 26) 0%,
        rgb(21, 255, 0) 100%);
}

a {
    margin-left: 50px;
    text-decoration : none;
    color: black;
}

#creator{
    display: inline-flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.round-button1 {
    background-image: url('../../img/tuong_lu_kim.png');
}

.round-button2 {
    background-image: url('../../img/butters_emo.jpg');
}

.round-button3 {
    background-image: url('../../img/father_maxi.png');
}

.round-button4 {
    background-image: url('../../img/pascal_la_dalle.png');
}

.round-button5 {
    background-image: url('../../img/joozians.jpg');
}

#return {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 0;
    font-size: 500%;
    z-index: 2;
}

@keyframes marquee {
    0% {transform: translateX(20%);}
    100%{transform: translateX(-100%);}
}

@media (min-width:1080px){

    .Container{

        animation: marquee 25s linear infinite;
    }

}
