.range {
	/* margin-top: 1vh; */
	grid-row-start: infos;
	grid-column: 3 / 4;
	place-self: center;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.range-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.range-buttom {

	margin-top: 10px;
}
#emoji {
	width: 75px;
	height: 75px;
}

#age {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* margin-top: 10%; */
}

.less {
	margin-top: 1vh;
	accent-color: green;
}

.heigh {
	margin-top: 1vh;
	accent-color: rgb(149, 35, 170);
}

