@font-face {
    font-family: south_park_font;
    src: url(../../fonts/south\ park.ttf)
  }

  body {
    padding: 0;
    margin: 0;
  }

      /* A CORRIGER POUR LE RESPONSIVE */
  /* @media only screen and (max-width: 768px) {
    body {
      background-size: contain;
    }
  } */

  #menu {
	  height: 100vh;
	  display: flex;
	  align-items: center;
  }

  #bg-menu {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-color:#89cede;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    transition: opacity 800ms ease, background-size 800ms ease;
  }

  #menu-items {
    margin-right: 7%;
    position: absolute;
    right: 30px;
    z-index: 2;
  }

  #menu-items:hover > .menu-item {
    opacity: 0.5;
  }

  #menu-items:hover > .menu-item:hover {
    opacity: 1;
    background-color: goldenrod;
  }

  .menu-item {
    color: black;
    font-size: clamp(3rem, 8vw, 7rem);
    font-family: south_park_font;
    text-align: right;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

    transition: opacity 400ms ease;
  }

  .msn {
    background-image: url("../../img/buttons/msn_buttom.png");
    background-size: cover;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    z-index: 50;

    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgba(0, 0, 255, 0);
  }

  .butters {
    background-image: url("../../img/buttons/lets_dance.png");
    background-size: cover;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    position: fixed;
    bottom: 3vh;
    right: 9vw;
    z-index: 50;

    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgba(0, 0, 255, 0);
  }

  .thanks {
    background-image: url("../../img/buttons/chef.gif");
    background-size: cover;
    width: 336px;
    height: 336px;
    font-size: 2rem;
    position: fixed;
    bottom: 0vh;
    left: 5vw;
    z-index: 50;

    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgba(0, 0, 255, 0);
  }

  @media (max-width: 850px) {
    .msn {
      width: 50px;
      height: 50px;
    }
    .thanks {
      width: 150px;
      height: 150px;
    }
  }

.shakeme {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
