@font-face {
    font-family: south_park_font;
    src: url(../../../fonts/south\ park.ttf)
}

body {
    padding: 0;
    margin: 0;
}

.bg {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-color:#89cede;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.opacity {
    opacity: 0.7;
}

#score {
    position: absolute;
    background-color: #343434;
    opacity: 75%;
    font-size: 50px;
    text-align: center;
    color: white;
    left: 20vw;
    top: 1.5vh;
    width: 60vw;
    height: 7vh;
}

#game {
    position: absolute;
    left: 15vw;
    top: 10vh;
    width: 70vw;
    height: 60vh;
    /* background-color: black; */
    color: white;
    z-index: 1;
}

#return {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 0;
    font-size: 500%;
    z-index: 2;
}