@font-face {
	font-family: south_park_font;
	src: url(../../fonts/south\ park.ttf)
  }


@font-face {
	font-family: texas_font;
	src: url(../../fonts/TEXAT_BOLD.otf)
}

body {
	padding: 0;
	margin: 0;
}

#menu {
	height: 100vh;
}

#bg-menu {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color:#89cede;

  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.box {
	position: fixed;
	top: 5%;
	left: 10%;
	right: 10%;
	bottom: 5%;
	padding: 10px;

	background-color: #ffc107;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

	z-index: 15;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5%; */
	display: grid;
	grid-template-rows: [titre] 20% [image] 35% [infos] 30% [bouton] 15% [fin];
	grid-template-columns: [column-start] 25% [column-1] 50% [column-2] 25% [column-end];

}

#welcome {
	grid-row-start: titre;
	grid-column: column-start / column-end;
	place-self: center;
	text-align: center;
	font-size: 5em;
	margin-top: 30px;
	font-family: south_park_font;
	white-space: nowrap;
	/* text-align: center; */
	/* position: relative; */
}

#skeeter {
	height: 20vh;
	position: absolute;
	justify-self: center;
	grid-row-start: 2;
	grid-column: column-start / column-end;
}

#np_move_on {
	background-image: url("../../img/buttons/move_on.png");
	background-size: cover;

	width: 100px;
	height: 100px;

	grid-row-start: bouton;
	grid-column: column-start / column-end;
	place-self: center;

    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgba(0, 0, 255, 0);
}

#np_move_on:hover {
	transform: rotate(-15deg);
	transition: all 0.25s ease-in-out;
}

@media (max-width: 920px) {
	#welcome {
		white-space: normal;
		font-size: 3.5em;
		line-height: 1em;
	}
}