@font-face {
	font-family: south_park_font;
	src: url(../../fonts/south\ park.ttf)
  }


@font-face {
	font-family: texas_font;
	src: url(../../fonts/TEXAT_BOLD.otf)
}

body {
	padding: 0;
	margin: 0;
}

#menu {
	height: 100vh;
	display: flex;
	align-items: center;
}

#bg-menu {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color:#89cede;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.box {
	position: fixed;
	top: 5%;
	left: 10%;
	right: 10%;
	bottom: 5%;
	padding: 10px;

	background-color: #ffc107;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

	z-index: 15;
}

#welcome {
	font-size: 100px;
	margin-top: 30px;
	margin-bottom: 75px;
	font-family: south_park_font;
	text-align: center;
	position: relative;
}

#skeeter {
	max-width: 100%;
	height: auto;
	max-height: 40%;
	display: block;
	margin: 0 auto;
}

form {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 40vh;
}

/* Bouton pour s'inscrire */
.signup-button, .signup-button-trigger {
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 70vw;
	padding: 0.25rem 0;
	line-height: 3.6rem;
	text-align: center;
	pointer-events: none;
	cursor: pointer;
	transition: opacity 0.4s 0.3s;
}

/* Contenu du bouton pour s'inscrire */
button, .signup-button {
	padding: 0.25em 0;
	border: 0;
	outline: 0;
	background: rgb(94, 52, 5);
	color: rgba(0, 0, 0, 0.85);
	font-family: texas_font;
	font-size: 3rem;
	line-height: 3.6rem;
	letter-spacing: 0.0625rem;
	box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.2);
}

.signup-button-trigger {
	opacity: 0;
	pointer-events: auto;
}







input, button {
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -300%);
	display: block;
	width: 70vw;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}
input {
	padding: 0.25rem 0;
	border: 0;
	border-bottom: 1px solid #bb1515;
	outline: 0;
	background: transparent;
	color: #fff;
	font-size: 3rem;
	line-height: 4rem;
	letter-spacing: 0.125rem;
	transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}
input::selection {
	background: rgba(187, 21, 21, 0.25);
}
input:focus, button:focus {
	opacity: 1;
	transform: translate(-50%, -100%);
	pointer-events: auto;
	transition: all 0.4s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.5s;
	z-index: 10;
}
input:focus ~ input, input:focus ~ button {
	transform: translate(-50%, 500%);
	transition: all 0.5s ease-in;
}
input:focus ~ label .label-text {
	transform: translate(-50%, 300%);
	transition: all 0.5s ease-in;
}
input:focus ~ .tip {
	opacity: 1;
}
input:focus ~ .signup-button, button:focus ~ .signup-button {
	opacity: 0;
}
input:focus + label .label-text {
	opacity: 1;
	transform: translate(-50%, -100%);
	transition: all 0.3s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.4s;
}
input:focus + label .nav-dot:before {
	background: #a41212;
	box-shadow: 0 0 0 0.15rem #111, 0 0 0.05rem 0.26rem #bb1515;
}
.tip {
	position: fixed;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	opacity: 0;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
	text-align: right;
	transition: opacity 0.25s 0.5s;
}
.label-text {
	position: fixed;
	top: calc(50% - 4rem);
	left: 50%;
	transform: translate(-50%, -300%);
	width: 70vw;
	padding: 3.125rem 0 1.5rem;
	text-transform: uppercase;
	color: #fff;
	opacity: 0;
	font-size: 1.125rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s;
}
.nav-dot {
	cursor: pointer;
	position: fixed;
	padding: 0.625rem 1.25rem 0.625rem 0.625rem;
	top: 52%;
	right: 1.25rem;
}
.nav-dot:before {
	content: '';
	display: inline-block;
	border-radius: 50%;
	width: 0.375rem;
	height: 0.375rem;
	margin-right: 0.625rem;
	position: fixed;
	background-color: #16272f;
	border: 0;
	transition: all 0.25s;
}
.nav-dot:hover:before {
	width: 0.625rem;
	height: 0.625rem;
	margin-top: -0.125rem;
	margin-left: -0.125rem;
	background-color: #a41212;
}
label[for="input-1"] .nav-dot {
	margin-top: -125px;
}
label[for="input-2"] .nav-dot {
	margin-top: -100px;
}

@media (max-width: 850px) {
	#welcome {
		font-size: 50px;
	}
}
