.truc {
    height: 97vh;
    width: 100vw;
    background: #2c2b5c;
    display: flex;
    flex-direction: row;
    background-image: url("./windows-xp-wallpaper-bliss.jpg");
    /* position: fixed; */
}

.left-part-chat {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(50, 2%);
	grid-template-rows: repeat(50, 2%);
    /* background-color: red; */
}

.conversations-list {
    grid-row-start: 4;
    grid-row-end: 46;
    grid-column-start: 8;
    grid-column-end: 40;
    background-color: #d5e2f7;
    border-radius: 5px;
    border-width: 3px;
    border: solid;
    border-color: #0256ef;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgb(67, 69, 82);
}

#chat_redcross {
    position: absolute;
    height: 25px;
    width: 23px;
}

.top-conversation-list {
    height: 5%;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #0256ef;
}

.option-conversation-list {
    height: 3%;
    width: 100%;
    background-color: #ece8d8;
}

.topbar-conversation-list {
    height: 17%;
    background: linear-gradient(180deg, rgba(182,209,238,1) 0%, rgba(176,212,249,1) 3%,
    rgba(248,248,250,1) 20%, rgba(232,238,242,1) 74%, rgba(224,234,239,1) 100%);
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    margin: 1px 2px 2px 2px;
}

.bottom-conversation-list {
    height: 75%;
    background-color: #ebeef3;
    margin: 1px 2px 2px 2px;
    border-radius: 5px;
    display: row;
}

.info-conversation-list {
    height: 10%;
    width: 100%;
    /* background-color: black; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 80px;
    border: solid;
    border-color: grey;
    /* background: linear-gradient(180deg, rgba(182,209,238,1) 0%, rgba(176,212,249,1) 3%,
    rgba(248,248,250,1) 20%, rgba(232,238,242,1) 74%, rgba(224,234,239,1) 100%);    border-radius: 5px; */
}

.display-list-convo {
    height: 70%;
    width: 90%;
    border-top-left-radius: 3%;
    background-color: #fffeff;
    margin-left: 10%;
    /* margin-bottom: 1%; */
}  

.Advertisement-scope {
    height:20%;
    width: 90%;
    /* margin-bottom: 1%; */
    /* margin-right: 1%; */
    /* border-radius: 5px; */
    background-color: azure;
    margin-left: 10%;
    padding-left: 2%; 
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 2%;
    border-color: lightgrey;
}

.Advertisement {
    width: 100%;
    border-radius: 5px;
    height: 98%;
    border: solid;
    border-width: 1px;
    /* background-color: black; */

}

/* Chat containers */
.chat-container {
    /* border: 2px solid #dedede;
    background-color: #f1f1f1; */
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }

  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

  /* Clear floats */
  .chat-container::after {
    content: "";
    clear: both;
    display: table;
  }

.chat-room-container    {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}


.wrapper-message-send input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.wrapper-message-send button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.wrapper-message-send button:hover {
    background-color: #45a049;
}

.wrapper-message-received   {
    width: 100%;
    height: 100%;
}

.wrapper-goback {
    width: 100%;
    height: 100%;
}

.wrapper-goback:hover {
    cursor: pointer;
}


.right-part-chat {
    width: 50%;
    height: 100%;
    /* background-color: orange; */
	/* background-image: url("./windows-xp-wallpaper-bliss.jpg"); */
}

.individual-convo-main-container {
    height: 50%;
    width: 50%;
    background-color: #e4f1f8;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.Navbar-individual-convo {
    width: 100%;
    height: 100%;
    background-color: #eaf1fc;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.to-who {
    width: 100%;
    height: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: goldenrod;
}

.receiver-status {
    width: 98%;
    height: 18%;
    border: solid;
    border-width: 1px;
    border-color: grey;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #fffedc;
}

.text-already-sent {
    width: 100;
    height: 60%;
    background-color: salmon;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-conv {
    height: 13%;
    width: 100%;
    background-color: skyblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.receiver-big-container { 
    height: 50%;
    width: 100%;
    background-color: #e4f1f8;
    display: grid;

    grid-template-columns: repeat(50, 2%);
	grid-template-rows: repeat(50, 2%);
}

.display-individual-convo {
    /* width: 60%;
    height: 100%; */
    border-radius: 5px;
    grid-row-start: 3;
    grid-row-end: 48;
    grid-column-start: 2;
    grid-column-end: 33;
    border: solid;
    border-color: grey;
    border-width: 1px;;
    background-color: #fefdff;
}

.profile-pic-reveiver-container {
    border-radius: 5px;
    grid-row-start: 3;
    grid-row-end: 35;
    grid-column-start: 35;
    grid-column-end: 49;
    /* margin-left: 20%;
    margin-right: 10%; */
    /* width: 30%;
    height: 60%; */
    background-color: #2c2b5c;
    display: grid;
    grid-template-columns: repeat(50, 2%);
	grid-template-rows: repeat(50, 2%);
}

.profile-pic-receiver {
    background-color: #e4f319;
    grid-row-start: 2;
    grid-row-end: 40;
    grid-column-start: 5;
    grid-column-end: 45;
    border-radius: 5px;
    border: solid;
    border-color: grey;
    /* width: 100%;
    height: 80%; */
}

.emitter-big-container {
    height: 37%;
    width: 100%;
    /* background-color: green; */
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(50, 2%);
}

.container-write-text {
    grid-row-start: 3;
    grid-row-end: 49;
    grid-column-start: 2;
    grid-column-end: 33;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.upper-part-write-text {
    width: 100%;
    height: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

.middle-part-write-text {
    width: 100%;
    height: 60%;
    background-color: black;
}

.bottom-part-write-text {
    width: 100%;
    height: 20%;
    border-bottom-left-radius: 5px;;
    border-bottom-right-radius: 5px;;
    background-color: pink;
} 

.profile-pic-container-emitter {
    grid-row-start: 3;
    grid-row-end: 48;
    grid-column-start: 35;
    grid-column-end: 49;
    background-color: yellow;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(50, 2%);
	grid-template-rows: repeat(50, 2%);
}

.profile-pic-last-block {
    grid-row-start: 2;
    grid-row-end: 40;
    grid-column-start: 5;
    grid-column-end: 45;
    background-color: forestgreen;
    border-radius: 5px;;
}

.Footer {
    height: 5vh;
    width: 100vw;
    background-color:#0256ef;
    display: flex;
    flex-direction: column;
}

.footer-first-element {
    background: linear-gradient(180deg, rgba(0,235,67,1) 0%, rgba(0,157,44,1) 32%, rgba(0,185,53,1) 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 8px;
    width: 8%;
    height:100%;
}

.menu-footer {
    position: fixed;
    height: 3vh;
    width: 100vw;
    /* display: inline; */
    background-color:#0256ef;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-element {
    width: 10%;
}

.menu-footer > li {
    display: inline-block;
    justify-content: flex-start;
    /* border-right :solid;
    border-right-width: 0.5px;
    border-color: #d5e2f7; */
}