Body {
    background: #2c2b5c;
}

/* Chat containers */
.chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .chat-container::after {
    content: "";
    clear: both;
    display: table;
  }

.chat-room-container    {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}


.wrapper-message-send input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.wrapper-message-send button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.wrapper-message-send button:hover {
    background-color: #45a049;
}

.wrapper-message-received   {
    width: 100%;
    height: 100%;
}

.wrapper-goback {
    width: 100%;
    height: 100%;
}

.wrapper-goback:hover {
    cursor: pointer;
}