.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 50vw;
  }

  .button-container {
	max-width: 700px;
	height: 70vw;
	display: flex;
	justify-content: center;
	align-items: center;
  }
