.searchBar {
	display: flex;
	align-items: center;
	width: 60%;
}

.searchBar-input[type="text"] {
	font-size: 16px;
	/* margin-left: 10%; */
	width: 75%;
	border: 1px solid #ccc;
	margin-bottom: 7vh;
}
.searchBar-button {
	width: 50%;
	height: 100%;
	font-size: 12px;
	background-color: #84adda;
	color: #fff;
	border: none;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 7vh;
	margin-left: 1vw;
}

.searchBar-button:hover {
	background-color: #0056b3;
}

.error {
	color: red;
	font-size: 14px;
}