#bg-gameover {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	background-color: black;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* font-family: south_park_font; */
}

  .span:first-child {
	margin-right: 20px;
  }

  .span:last-child {
	color: black;
	/* background-color: black; */
	animation: fadeWhite 4s forwards;
	animation-delay: 2s;
	position: relative;
  }

  .span_over:last-child:after {
	content: " OVER";
	position: absolute;
	left: 2px;
	top: 2px;
	clip: rect(0, 900px, 0, 0);
	/* background-color: black; */
	color: white;
	animation: glitch 3s infinite alternate-reverse;
	animation-delay: 4s;
  }

  .span_over:last-child:before {
	content: " OVER";
	position: absolute;
	left: -2px;
	top: -2px;
	clip: rect(0, 900px, 0, 0);
	/* background-color: black; */
	color: white;
	animation: glitch 3s infinite alternate-reverse;
	animation-delay: 4s;
  }

  @keyframes fadeWhite {
	100% {
	  color: white;
	}
  }

  @keyframes glitch {
	0% {
	  clip: rect(43px, 9999px, 37px, 0);
	}
	5% {
	  clip: rect(13px, 9999px, 9px, 0);
	}
	10% {
	  clip: rect(55px, 9999px, 75px, 0);
	}
	15% {
	  clip: rect(23px, 9999px, 58px, 0);
	}
	20% {
	  clip: rect(12px, 9999px, 72px, 0);
	}
	25% {
	  clip: rect(30px, 9999px, 97px, 0);
	}
	30% {
	  clip: rect(78px, 9999px, 4px, 0);
	}
	35% {
	  clip: rect(53px, 9999px, 62px, 0);
	}
	40% {
	  clip: rect(60px, 9999px, 74px, 0);
	}
	45% {
	  clip: rect(69px, 9999px, 63px, 0);
	}
	50% {
	  clip: rect(15px, 9999px, 60px, 0);
	}
	55% {
	  clip: rect(36px, 9999px, 62px, 0);
	}
	60% {
	  clip: rect(37px, 9999px, 37px, 0);
	}
	65% {
	  clip: rect(59px, 9999px, 16px, 0);
	}
	70% {
	  clip: rect(76px, 9999px, 76px, 0);
	}
	75% {
	  clip: rect(88px, 9999px, 6px, 0);
	}
	80% {
	  clip: rect(75px, 9999px, 46px, 0);
	}
	85% {
	  clip: rect(50px, 9999px, 66px, 0);
	}
	90% {
	  clip: rect(87px, 9999px, 54px, 0);
	}
	95% {
	  clip: rect(6px, 9999px, 47px, 0);
	}
	100% {
	  clip: rect(100px, 9999px, 54px, 0);
	}
  }
