@font-face {
	font-family: south_park_font;
	src: url(../../fonts/south\ park.ttf)
  }

  @font-face {
	font-family: south_park_font_perso;
	src: url(../../fonts/southbats.ttf)
  }

@font-face {
	font-family: texas_font;
	src: url(../../fonts/TEXAT_BOLD.otf)
}

@font-face {
	font-family: heavitas_font;
	src: url(../../fonts/Heavitas.ttf)
}

#user-menu {
	height: 100vh;
	display: flex;
	align-items: center;
}

#user-bg-menu {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color:#89cede;

	opacity: 0.2;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.user-box2 .button{
	display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.user-box2 {
	min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	top: 5%;
	left: 10%;
	right: 10%;
	bottom: 5%;
	padding: 10px;

	background-color: #ffffffa6;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

	z-index: 15;
	gap: 5%;
}

.user_pfp{
	display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
}

#user_pic {
	width: 250px;
	height: 250px;
	border: 15px solid black;
}

.user_pfp button{
	max-width: 250px;
}

#user-text {
    display: flex;
    flex-direction: column;
	position: relative;
	height: 80vh;
	width: 50vw;
	gap: 50px;
}

#user-hardly-brothers {
	background-image: url("../../img/Hardly-boys.png");
	background-size: cover;
	height: 11vh;
	width: 10vw;

	position: absolute;
	top: 0.5%;
	right: 5%;
}

.user-title {
	margin-top: 35px;
}

.user-title h1 {
	text-align:center; 
	font-size: 60px; 
	text-transform:uppercase; 
	color:#222;
	letter-spacing:1px;
	font-family: heavitas_font;
}

  .user-title h1 .user-barre {
	  font-size: 10px;
	  color:#444; 
	  word-spacing: 1px; 
	  font-weight: normal; 
	  letter-spacing: 2px;
	  text-transform: uppercase; 
	  font-family: south_park_font;
	  font-weight: 500;
  
	  display: grid;
	  grid-template-columns: 1fr max-content 1fr;
	  grid-template-rows: 27px 0;
	  grid-gap: 20px;
	  align-items: center;
  }
  
  .user-title h1 .user-barre:after, .user-title h1 .user-barre:before {
	  content: " ";
	  display: block;
	  border-bottom: 1px solid #ccc;
	  border-top: 1px solid #ccc;
	  height: 5px;
	background-color:#f8f8f8;
  }

  .user-infos {
	font-family: heavitas_font;
	padding-top: 30px;

	display: grid;
	grid-template-rows: [row1-start] 33% [row1-end row2-start] 33% [row2-end] 33% [row-end];
	grid-template-columns: [column1-start] 50% [column1-end column2-start] 50% [column2-end] ;
  }

  #user-info-2 {
	text-align: end;
  }

  #user-info-3 {
	text-align: center;
  }
  #user-info-4 {
	text-align: center;
  }
	  #user-info-5 {
		  text-align: center;
		  grid-column: column1-start / column2-end;
		}
		
	#user-titre-info-5 {
		text-shadow: 0 4px 0 orange, 0 -4px 0 brown;
	}

  .user-titre-infos {
	font-family: heavitas_font;
	font-size: 200%;
	text-shadow: 0 4px 0 green, 0 -4px 0 brown;
}

.user-info {
	font-family: heavitas_font;
	font-size: 150%;
}
#user-south {
	font-family: south_park_font_perso;
	font-size: 60px;
	text-align: center;
}

/* NEXT BUTTON */

#going_home {
	background-image: url("../../img/buttons/going_home.png");
	background-size: cover;
	width: 120px;
	height: 120px;
	font-size: 2rem;
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 50;

    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgba(0, 0, 255, 0);
}

#going_home:hover {
	transform: rotate(15deg);
	transition: all 0.25s ease-in-out;
}

@media (max-width: 850px) {
	#welcome2 {
		font-size: 50px;
	}
}

@media (max-width: 1400px) {
	#move_on {
		width: 80px;
		height: 80px;
	}
}

/******   HISTORIQUE   *********/

#user-jimbo {
	height: 155px;
	width: 140px;

	position: absolute;
	top: 43.5%;
	left: 0%;
}

#user-historique {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.user-match {
	font-family: heavitas_font;
	font-size: 150%;
}




/******   BOUTONS   *********/

.user-buttons {

    margin: 10%;

	display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
	gap: 8px;
}

.user-btn-1, .user-btn-2 {

	width: 250px;
	height: 50px;

	text-decoration: none;
	padding: 15px;
	background-color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	display: inline-block;

	cursor: pointer;
    overflow: hidden;
}

.user-btn-2-container {
	width: 250px;
	height: 50px;
	position: relative;
	display: flex;
    justify-content: center;
	align-items: center;
}

.user-text-buttom {
	position: absolute;
    /* color: rgb(0, 0, 0); */
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	text-align: center;
	font-size: 14px;
}

.user-text-buttom#user-txt-btn-2-bloquer{
    color: rgb(0, 0, 0);
}

.user-text-buttom#user-txt-btn-2-debloquer{
    color: green;
}

.user-btn-2 {
	transition: 0.5s;
	background: #000;
	-webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards; 
} 

.user-btn-2#user-btn-2-bloquer{
	background: #000;
} 

.user-btn-2#user-btn-2-debloquer{
	background: green;
} 


.user-btn-2:hover {
	-webkit-animation: ani 0.7s steps(29) forwards;
	animation: ani 0.7s steps(29) forwards; 
}

   @keyframes ani {
	from {
	 -webkit-mask-position: 0 0;
	 mask-position: 0 0;
	}
   
	to {
	 -webkit-mask-position: 100% 0;
	 mask-position: 100% 0;
	}
   }
   
   @keyframes ani2 {
	from {
	 -webkit-mask-position: 100% 0;
	 mask-position: 100% 0;
	}
   
	to {
	 -webkit-mask-position: 0 0;
	 mask-position: 0 0;
	}
   }

#user-btn-1-add {
	color: rgb(175, 149, 0);
	border: 2px solid gold;
}

#user-btn-1-remove {
	color: rgb(151, 9, 9);
	border: 2px solid red;
}

.user-btn-1 span{
    position: absolute;
    display: block;
}
.user-btn-1 span:nth-child(1){
    height: 3px;
    width:250px;
    top: 0px;
    left:-250px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

#user-btn-1-add span:nth-child(1){
    background: linear-gradient(to right, rgba(0,0,0,0), gold);
}

#user-btn-1-remove span:nth-child(1){
    background: linear-gradient(to right, rgba(0,0,0,0), red);
}

@keyframes span1{
    0%{
        left:-250px;
    }
    100%{
        left:250px;
    }
}
.user-btn-1 span:nth-child(2){
    height: 50px;
    width: 3px;
    top:-50px;
    right:0px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

#user-btn-1-add span:nth-child(2){
    background: linear-gradient(to bottom, rgba(0,0,0,0), gold);
}

#user-btn-1-remove span:nth-child(2){
    background: linear-gradient(to bottom, rgba(0,0,0,0), red);
}

@keyframes span2{
    0%{
        top:-50px;
    }
    100%{
        top:50px;
    }
}

.user-btn-1 span:nth-child(3){
    height:3px;
    width:250px;
    right:-250px;
    bottom: 0px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

#user-btn-1-add span:nth-child(3){
    background: linear-gradient(to left, rgba(0,0,0,0), gold);
}

#user-btn-1-remove span:nth-child(3){
    background: linear-gradient(to left, rgba(0,0,0,0), red);
}

@keyframes span3{
    0%{
        right:-250px;
    }
    100%{
        right: 250px;
    }
}

.user-btn-1 span:nth-child(4){
    height:50px;
    width:3px;
    bottom:-50px;
    left:0px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

#user-btn-1-add span:nth-child(4){
    background: linear-gradient(to top, rgba(0,0,0,0), gold);
}

#user-btn-1-remove span:nth-child(4){
    background: linear-gradient(to top, rgba(0,0,0,0), red);
}

@keyframes span4{
    0%{
        bottom: -50px;
    }
    100%{
        bottom:50px;
    }
}

.user-btn-1:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.user-btn-1:hover span{
    animation-play-state: paused;
}