.channel-bandeau {
	height: 5%;
	width: 100%;
	background-color: #0054e8;
}

.channel-conv-pfp {
	height: 100%;
    width: 100%;
    border-radius: 5px;
}

.chat-channel-area {
	top: 20vh;
	left: 60vw;
}

.channel-main-container {
	top: 20vh;
	left: 60vw;
	position: absolute;
	height: 75vh;
	width: 20vw;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-image: url('../../../img/chat/channel_wallpaper.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.channel-name {
	flex: 1;
	/* Take available space */
	font-family: 'YourCustomFont', Tahoma, Geneva, Verdana, sans-serif;
	/* Use your custom font */
	font-size: 1rem;
	/* Adjust font size as needed */
	font-weight: bold;
	/* Adjust font weight as needed */
	color: white;
}

.channel-bandeau ul {
	display: flex;
	flex-direction: row;
	justify-content: end;
	list-style: none;
}

.channel-actions {
	cursor: pointer;
	width: 100%;
	height: 3%;
	background-color: #f0ecf2;
}

.channel-actions ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.channel-actions ul li {
	margin-right: 10px;
	/* Adjust the right margin for spacing */
}

.channel-modo-mode {
	width: 100%;
	height: 10%;
	background-color: #4165b3;
	border-radius: 5px;
	/*faire effet de degrade*/
	/*faire padding*/
}

.channel-modo-mode img {
	height: 100%;
	width: 100%;
}

.channel-modo-mode ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
	list-style: none;
}

.channel-conversation {
	height: 57%;
	width: 100;
	/* background-color: #e9e9f5; */
	display: flex;
	flex-direction: row;
}

.channel-group-convo {
	height: 98%;
	width: 64%;
	margin-top: 2%;
	margin-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	/* background-color: rgb(187, 187, 187); */
	background-color: rgba(228, 222, 222, 0.5);

}

.channel-members-presentation {
	width: 94%;
	height: 7%;
	margin-left: 3%;
	margin-right: 3%;
	/* background-color: #f7eeb1; */
	background-color: rgba(247,238,177, 0.9);
	font-size: 8px;
	/* background-color: black; */
}

/*1*/

.channel-conversation-messages {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	height: 93%;
	background-color: #E7E8F3;
	overflow-y: auto;
}

.channel-conversation-messages ul {
	display: flex;
	flex-direction: column;
	font-size: 10px;
	list-style: none;
	margin-left: 3%;
	padding: 0; 
	list-style: none;
    margin-left: 0px;
    /* padding-left: 10px; */
}

/*2*/

.conv-sender-info-chan {
	font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 0px;
	/* font-size: 10px; */
    color: #216ec0; /* Blue color for the sender's name */
}

.conv-message-content-chan {
    background-color: #f1f0f0;
	font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* margin-left: 6%; */
	padding-left: 8%;
	width: 100%;
	height: 15%;
}

.conv-message-date-chan {
	font-size: 12px;
	color: #888; 
}

.channel-conversation-messages {
	width: 100;
    height: 100%;
    background-color: #FCFDFF;
	/* background-color: red; */
    opacity: 0.7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	padding: 0;
    overflow-y: auto;
}

.channel-conversation-messages::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-profile-pic-and-member-list {
	height: 98%;
	margin-top: 1%;
	margin-left: 2%;
	width: 30%;
	/* background-color: orange; */
}

.channel-group-pic-main-container {
	height: 34%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Center vertically */
	/* background-color: #B9C2DD; */
}

.channel-group-pic-cadre {
	width: 95%;
	height: 95%;
	border-radius: 5px;
	background-color: #E7E8F3;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Center vertically */
}

.channel-pik {
	width: 75%;
	height: 75%;
	background-color: white;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.channel-pik img {
	width: 100%;
	height: 100%;
}

.channel-group-member-list {
	height: 64%;
	margin-top: 2%;
	width: 100%;
	/* background-color: orange;e */
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	border-radius: 5px;
	overflow-y: auto;
	cursor: pointer;

	/* Center vertically */
}

.channel-group-member-list::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-group-member-list ul {
	list-style: none;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.channel-group-member-list ul img {
	height: 20px;
}

.channel-group-member-list ul li {
	display: flex;
	/* Use flex layout to align the image and text */
	align-items: center;
	/* Center align vertically */
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 0;
}

.channel-send-messages-part {
	height: 25%;
	width: 100%;
	/* background-color: #e4e7ec; */
	/* opacity: 45%; */
	display: flex;
	padding-left: 2%;
	padding-right: 2%;
	flex-direction: row;
}

.channel-input-text {
	width: 66%;
	height: 100%;
	/* background-color: #818eb1; */
	/* background-color: red; */
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
}

.channel-left {
	position: relative;
	height: 70%;
	width: 75%;
	/* background-color: #f2f5f8; */
	/* background-image: url('../../../img/chat/channel_wallpaper.png'); */

	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	display: flex;
	flex-direction: column-reverse;
	/* Reverse the direction for messages */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	opacity: 0.7;

	/* Subtle shadow */
}

textarea::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-right-buttons {
	width: 25%;
	height: 70%;
	display: flex;
	flex-direction: column;
}

.channel-right-buttons {
	display: flex;
	flex-direction: column-reverse;
}

.button {
	display: inline-block;
	padding: 8px 16px;
	background-color: #0B3E9D;
	/* Windows blue */
	color: #FFFFFF;
	border: 1px solid #005A9E;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
	cursor: text;
}

/* span.textarea[contenteditable]:empty::before {
    content: 'Anything to say ?';
    display: inline-block;
	cursor: text;
} */

.button:hover {
	background-color: #005A9E;
}

.channel-my-profile-pic-main-container {
	width: 34%;
	height: 100%;
	margin-top: 5%;
	/* background-color: #a2acc6; */
	/* background-color: orange; */
	border-radius: 15px;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.channel-my-profile-pic-group-pic-cadre {
	width: 95%;
	height: 75%;
	background-color: #a2acc6;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.channel-my-profile-pic-group-pic-cadre div {
	width: 80%;
	height: 80%;
	border-radius: 5px;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.channel-my-profile-pic-group-pic-cadre div img {
	height: 100%;
	width: 100%;
}