.channel-main-container {
	position: fixed;
	right: 0;
	top: 0;
	height: 75vh;
	width: 20vw;
	/* background-color: #0f1248; */
	display: flex;
	/* opacity: 0.90; */
	flex-direction: column;
	border-radius: 5px;
	background-image: url('../../../img/chat/channel_wallpaper.png');
	/* background-image: url('../../../img/chat/test_wallpaper.png'); */
	background-size: cover;
	/* This property scales the image to cover the entire container */
	background-repeat: no-repeat;
}

.channel-bandeau {
	height: 5%;
	width: 100%;
	background-color: #0054e8;
}

.channel-name {
	flex: 1;
	/* Take available space */
	font-family: 'YourCustomFont', Tahoma, Geneva, Verdana, sans-serif;
	/* Use your custom font */
	font-size: 1rem;
	/* Adjust font size as needed */
	font-weight: bold;
	/* Adjust font weight as needed */
	color: white;
}

/* .channel-name li {
    padding: 0;
    margin: 1px 1px 1px 1px;
}

.channel-name img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
} */

.channel-bandeau ul {
	display: flex;
	flex-direction: row;
	justify-content: end;
	list-style: none;
}

.channel-actions {
	width: 100%;
	height: 3%;
	background-color: #f0ecf2;
}

.channel-actions ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.channel-actions ul li {
	margin-right: 10px;
	/* Adjust the right margin for spacing */
}

.channel-modo-mode {
	width: 100%;
	height: 10%;
	background-color: #4165b3;
	border-radius: 5px;
	/*faire effet de degrade*/
	/*faire padding*/
}

.channel-modo-mode img {
	height: 100%;
	width: 100%;
}

.channel-modo-mode ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
	list-style: none;
}

.channel-conversation {
	height: 57%;
	width: 100;
	/* background-color: #e9e9f5; */
	display: flex;
	flex-direction: row;
}

.channel-group-convo {
	height: 100%;
	width: 66%;
	display: flex;
	flex-direction: column;
}

.channel-members-presentation {
	width: 100%;
	height: 7%;
	background-color: #f4edb7;
	/* background-color: black; */
}

.channel-conversation-messages {
	width: 100%;
	height: 93%;
	background-color: #E7E8F3;
	overflow-y: auto;
}

.channel-conversation-messages::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-conversation-messages ul {
	display: flex;
	flex-direction: column;
	font-size: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.channel-conversation-messages ul div {
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
	font-size: 14px;
}

.channel-conversation-messages ul li {
	padding: 5px;
	margin: 5px 0;
	word-wrap: break-word;
	/* Allow long words to break onto a new line */
	max-width: 80%;
	/* Limit message width */
	clear: both;
	font-size: 16px;
	/* Adjust the font size as needed */
	margin-left: 20px;
	/* Add left margin for indentation */
}

.channel-profile-pic-and-member-list {
	height: 100%;
	width: 34%;
	/* background-color: orange; */
}

.channel-group-pic-main-container {
	height: 34%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Center vertically */
	/* background-color: #B9C2DD; */
}

.channel-group-pic-cadre {
	width: 95%;
	height: 95%;
	border-radius: 5px;
	background-color: #E7E8F3;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Center vertically */
}

.channel-pik {
	width: 75%;
	height: 75%;
	background-color: white;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.channel-group-member-list {
	height: 60%;
	width: 100%;
	/* background-color: orange;e */
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	border-radius: 5px;
	overflow-y: auto;
	cursor: pointer;

	/* Center vertically */
}

.channel-group-member-list::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

/* background-color: red; */

.channel-group-member-list ul {
	list-style: none;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.channel-group-member-list ul img {
	height: 20px;
}

.channel-group-member-list ul li {
	display: flex;
	/* Use flex layout to align the image and text */
	align-items: center;
	/* Center align vertically */
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 0;
}

.channel-send-messages-part {
	height: 25%;
	width: 100%;
	/* background-color: #e4e7ec; */
	/* opacity: 45%; */
	display: flex;
	flex-direction: row;
}

.channel-input-text {
	width: 66%;
	height: 100%;
	/* background-color: #818eb1; */
	/* background-color: red; */
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
}

/* Style the channel container */
.channel-left {
	position: relative;
	height: 70%;
	width: 75%;
	/* background-color: #f2f5f8; */
	/* background-image: url('../../../img/chat/channel_wallpaper.png'); */

	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	display: flex;
	flex-direction: column-reverse;
	/* Reverse the direction for messages */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	opacity: 0.7;

	/* Subtle shadow */
}

/* Style the textarea */

.textarea {
	display: block;
	width: 100%;
	min-height: 7%;
	overflow: auto;
	resize: none;
	line-height: 20px;
	max-height: 200px;
	border: none;
	/* Remove textarea border */
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	opacity: 0.7;
}

/* Hide scrollbars */
textarea::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-right-buttons {
	width: 25%;
	height: 70%;
	/* background-color: #e4e7ec; */
	display: flex;
	flex-direction: column;
}

.channel-right-buttons {
	display: flex;
	flex-direction: column-reverse;
}

.button {
	display: inline-block;
	padding: 8px 16px;
	background-color: #0B3E9D;
	/* Windows blue */
	color: #FFFFFF;
	border: 1px solid #005A9E;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
	cursor: text;
}

span.textarea[contenteditable]:empty::before {
    content: 'Anything to say ?';
    display: inline-block;
	cursor: text;
}

/* Hover effect */
.button:hover {
	background-color: #005A9E;
	/* Darker blue on hover */
}


.channel-my-profile-pic-main-container {
	width: 34%;
	height: 100%;
	/* background-color: #a2acc6; */
	/* background-color: orange; */
	border-radius: 15px;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.channel-my-profile-pic-group-pic-cadre {
	width: 95%;
	height: 75%;
	background-color: #a2acc6;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.channel-my-profile-pic-group-pic-cadre div {
	width: 80%;
	height: 80%;
	border-radius: 5px;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}