.channel-main-container {
	top: 5vh;
	left: 60vw;
	position: absolute;
	height: 82vh;
	width: 30vw;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-image: url('../../../img/chat/channel_wallpaper.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.channel-bandeau {
	height: 5%;
	width: 100%;
	background-color: #0054e8;
	align-items: center;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	padding-right: 1.5%;
	padding-left: 1.5%;
	;
}

#chat_icon {
	/* position: inherit; */
	height: 25px;
	width: 25px;
	;
}

.channel-conv-pfp {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.chat-channel-area {
	top: 20vh;
	left: 60vw;
}

.channel-name {
	flex: 1;
	font-family: 'YourCustomFont', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#chat_redcross {
	position: inherit;
	width: 25px;
	height: 25px;
}

#chat_maximize {
	position: inherit;
	width: 25px;
	height: 25px;
}

#chat_minimize {
	position: inherit;
	width: 25px;
	height: 25px;
}

.channel-bandeau ul {
	display: flex;
	flex-direction: row;
	justify-content: end;
	list-style: none;
	align-items: center;
	margin-top: 1%;
}

.channel-actions {
	cursor: pointer;
	width: 100%;
	height: 3%;
	/* background-color: #f0ecf2; */
	background-color: #ece8d8;
}

.channel-actions ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.channel-actions ul li {
	margin-right: 10px;
	/* Adjust the right margin for spacing */
}

.dropdown-menu {
	z-index: ;
	position: absolute;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #f9f4e1;
	/* Light beige background color for the menu */
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	display: none;
}

.channel-modo-mode {
	width: 100%;
	height: 10%;
	background-color: #4165b3;
	border-radius: 5px;
	/*faire effet de degrade*/
	/*faire padding*/
}

.channel-modo-mode img {
	height: 100%;
	width: 100%;
}

.channel-modo-mode ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
	list-style: none;
}

.channel-conversation {
	height: 57%;
	width: 100;
	/* background-color: #e9e9f5; */
	display: flex;
	flex-direction: row;
	padding-top: 2%;
	padding-left: 2%;
	;
}

.channel-group-convo {
	height: 98%;
	width: 64%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	/* background-color: rgb(187, 187, 187); */
	background-color: rgba(228, 222, 222, 0.5);

}

.channel-members-presentation {
	width: 94%;
	height: 7%;
	margin-left: 3%;
	margin-right: 3%;
	/* background-color: #f7eeb1; */
	background-color: rgba(247, 238, 177, 0.9);
	font-size: 8px;
	/* background-color: black; */
}

/*1*/

.channel-conversation-messages {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	height: 93%;
	background-color: #E7E8F3;
	overflow-y: auto;
}

.channel-conversation-messages ul {
	display: flex;
	flex-direction: column;
	font-size: 10px;
	list-style: none;
	margin-left: 3%;
	padding: 0;
	list-style: none;
	margin-left: 0px;
	/* padding-left: 10px; */
}

/*2*/

.conv-sender-info-chan {
	font-size: 13px;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 0px;
	/* font-size: 10px; */
	color: #216ec0;
	/* Blue color for the sender's name */
}

.conv-message-content-chan {
	background-color: #f1f0f0;
	font-size: 16px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	/* margin-left: 6%; */
	padding-left: 8%;
	width: 100%;
	height: 15%;
}

.conv-message-date-chan {
	font-size: 12px;
	color: #888;
}

.channel-conversation-messages {
	width: 100;
	height: 100%;
	background-color: #FCFDFF;
	/* background-color: red; */
	opacity: 0.7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0;
	overflow-y: auto;
}

.channel-conversation-messages::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-profile-pic-and-member-list {
	height: 98%;
	margin-top: 1%;
	margin-left: 2%;
	width: 30%;
	overflow-x: auto;
	/* background-color: orange; */
}

#channels-more-options {
	height: 25px;
	width: 25px;
	margin-left: 20%;
}

#channels-ban-user {
	height: 30px;
	width: 30px;
}

#channels-block-user {
	height: 15px;
	width: 15px;
}

.channels-more-options-dropdown {
	position: relative;
	background-color: #ece8d8;
	border: 1px solid #808080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	padding: 10px;
	z-index: 1000;
	/* Ensure it's on top of other elements */
}

.channel-more-option-choose {
	font-weight: bold;
	margin-bottom: 10px;
}

.channel-more-option-choose-buttons {
	list-style-type: none;
	padding: 0;
}

.channel-more-option-choose-buttons button {
	background-color: #ffffff;
	border: 1px solid #808080;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
}

.channel-more-option-choose-buttons button:hover {
	background-color: #e0e0e0;
}

.channel-group-member-list-ul-li {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0;
	margin: 0;
	/* padding: 10px; */
	margin: 5px 0;
}

.channel-group-member-list ul img {
	height: 20px;
}

.channel-group-member-list-logo-name-pseudo {
	width: 75%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	justify-content: flex-start;
}

.channel-group-member-list-nickname {
	font-size: 12px;
	margin-right: 5%
}

.channel-group-member-list-ban-bloc {
	display: flex;
	width: 25%;
	padding: 0;
	margin: 0;
	flex-direction: column;
	justify-content: flex-start;
}

.channel-group-pic-main-container {
	height: 34%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Center vertically */
	/* background-color: #B9C2DD; */
}

.channel-group-pic-cadre {
	width: 95%;
	height: 95%;
	border-radius: 5px;
	background-color: #E7E8F3;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Center vertically */
}

.channel-pik {
	width: 75%;
	height: 75%;
	background-color: white;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.channel-pik img {
	width: 100%;
	height: 100%;
}

.channel-group-member-list {
	height: 64%;
	margin-top: 2%;
	width: 100%;
	/* background-color: orange;e */
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	border-radius: 5px;
	overflow-y: auto;
	cursor: pointer;

	/* Center vertically */
}

.channel-group-member-list::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-group-member-list-ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

/*channel-group-member-list-logo-name-pseudo*/

.channel-send-messages-part {
	height: 25%;
	width: 100%;
	display: flex;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	flex-direction: row;
	/* background-color: yellow; */
}

.channel-input-text {
	width: 66%;
	padding: 2% 2% 2% 2%;
	/* width: 60%; */
	height: 100%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
}

.channel-up {
	position: relative;
	height: 90%;
	width: 100%;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	display: flex;
	flex-direction: column-reverse;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	opacity: 0.7;
	/* background-color: yellow; */
}

textarea::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-down {
	padding: 0;
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: row-reverse;
	/* justify-content: flex-end; */
	/* position: relative; */
	bottom: 5px;
	right: 5px;
}

.channel-down-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 8px 16px;
	background-color: #0B3E9D;
	/* Windows blue */
	color: #FFFFFF;
	border: 1px solid #005A9E;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
	cursor: text;
}

span.channel-up-span[contenteditable]:empty::before {
	content: 'Anything to say ?';
	display: inline-block;
	cursor: text;
	overflow-y: auto;
}

.channel-up-span {
	display: block;
	width: 100%;
	min-height: 7%;
	overflow: auto;
	resize: none;
	line-height: 20px;
	max-height: 200px;
	border: none;
	/* Remove textarea border */
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	opacity: 0.7;
}

.channel-up-span::-webkit-scrollbar {
	display: none;
	cursor: pointer;
}

.channel-down-button:hover {
	background-color: #005A9E;
}

.channel-my-profile-pic-main-container {
	width: 34%;
	height: 100%;
	padding: 3% 2% 2% 2%;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.channel-my-profile-pic-group-pic-cadre {
	padding: 2% 2% 2% 2%;
	width: 100%;
	height: 90%;
	background-color: #a2acc6;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.channel-my-profile-pic-group-pic-cadre div {
	width: 80%;
	height: 80%;
	border-radius: 5px;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.channel-my-profile-pic-group-pic-cadre div img {
	height: 100%;
	width: 100%;
}