@font-face {
	font-family: south_park_font;
	src: url(../../fonts/south\ park.ttf)
  }


@font-face {
	font-family: texas_font;
	src: url(../../fonts/TEXAT_BOLD.otf)
}

body {
	padding: 0;
	margin: 0;
}

#menu {
	height: 100vh;
	display: flex;
	align-items: center;
}

#bg-menu {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color:#89cede;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.box2 .button{
	display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box2 {
	min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	top: 5%;
	left: 10%;
	right: 10%;
	bottom: 5%;
	padding: 10px;

	background-color: #ffc107;
	border-radius: 5px;
	box2-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

	z-index: 15;
	/* display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between; */
	gap: 5%;
}

.pfp{
	display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
}

.pfp img{
	width: 300px;
	height: 200px;
	border: 15px solid black;
}

.pfp button{
	max-width: 100px;
}

#welcome2 {
	justify-content: space-around;
    display: flex;
    flex-direction: column;
	font-size: 20px;
	margin-top: 30px;
	font-family: south_park_font;
	text-align: center;
	position: relative;
	height: 75vh;
}

#profile_font{
	font-size: 100px;
	text-decoration: underline;
}

#skeeter {
	max-width: 100%;
	height: auto;
	max-height: 40%;
	display: block;
	margin: 0 auto;
}

#move_on {
	background-image: url("../../img/buttons/move_on.png");
	background-size: cover;
	width: 150px;
	height: 150px;
	font-size: 2rem;
	position: fixed;
	bottom: 6%;
	right: 15%;
	z-index: 50;

    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgba(0, 0, 255, 0);
}

@media (max-width: 850px) {
	#welcome2 {
		font-size: 50px;
	}
}

@media (max-width: 1400px) {
	#move_on {
		width: 80px;
		height: 80px;
	}
}

/******************/

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/******************/

#eric {
	position: relative;
	display: inline-block;
	height: 190px;
	width: 185px;
	margin-left: 37%;
  }
  #eric:after {
	content: " ";
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 71px;
	width: 35px;
	height: 13px;
	background: #f0e50c;
	z-index: 99;
  }
  #eric .face {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 24px;
	left: 26px;
	width: 132px;
	height: 106px;
	overflow: hidden;
	background: #f0d5ab;
	z-index: 15;
  }
  #eric .face .hat {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 132px;
	height: 78px;
	background: #49c2b5;
  }
  #eric .face .hat:before {
	content: " ";
	-webkit-border-radius: 65% 40%;
	-moz-border-radius: 65% 40%;
	-ms-border-radius: 65% 40%;
	-o-border-radius: 65% 40%;
	border-radius: 65% 40%;
	position: absolute;
	top: 25px;
	left: -3px;
	width: 134px;
	height: 48px;
	background: #f0e50c;
  }
  #eric .face .hat:after {
	content: " ";
	-webkit-border-radius: 65% 40%;
	-moz-border-radius: 65% 40%;
	-ms-border-radius: 65% 40%;
	-o-border-radius: 65% 40%;
	border-radius: 65% 40%;
	position: absolute;
	top: 29px;
	left: -6px;
	width: 137px;
	height: 52px;
	background: #f0d5ab;
  }
  #eric .face .eye-left, #eric .face .eye-right {
	-webkit-border-radius: 65% 50%;
	-moz-border-radius: 65% 50%;
	-ms-border-radius: 65% 50%;
	-o-border-radius: 65% 50%;
	border-radius: 65% 50%;
	position: absolute;
	top: 35px;
	left: 36px;
	width: 32px;
	height: 37px;
	background: #ffffff;
  }
  #eric .face .eye-left:after, #eric .face .eye-right:after {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	content: " ";
	position: absolute;
	top: 16px;
	left: 26px;
	height: 3px;
	width: 3px;
	background: #000000;
  }
  #eric .face .eye-right {
	-webkit-border-radius: 50% 65%;
	-moz-border-radius: 50% 65%;
	-ms-border-radius: 50% 65%;
	-o-border-radius: 50% 65%;
	border-radius: 50% 65%;
	left: 69px;
  }
  #eric .face .smile {
	-webkit-border-radius: 65% 50%;
	-moz-border-radius: 65% 50%;
	-ms-border-radius: 65% 50%;
	-o-border-radius: 65% 50%;
	border-radius: 65% 50%;
	-webkit-box-shadow: 0 1px 0 black;
	-moz-box-shadow: 0 1px 0 black;
	box-shadow: 0 1px 0 black;
	position: absolute;
	top: 79px;
	left: 64px;
	width: 15px;
	height: 8px;
  }
  #eric .body {
	-webkit-border-radius: 50% 50% 33% 33%;
	-moz-border-radius: 50% 50% 33% 33%;
	-ms-border-radius: 50% 50% 33% 33%;
	-o-border-radius: 50% 50% 33% 33%;
	border-radius: 50% 50% 33% 33%;
	position: absolute;
	top: 80px;
	left: 13px;
	height: 90px;
	width: 160px;
	background: #c60735;
	z-index: 10;
  }
  #eric .body .zipper {
	position: absolute;
	top: 48px;
	left: 86px;
	width: 1px;
	height: 42px;
	background: #5c0011;
  }
  #eric .body .button-1, #eric .body .button-2, #eric .body .button-3 {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	left: 82px;
	height: 4px;
	width: 2px;
	background: #5c0011;
  }
  #eric .body .button-2 {
	top: 67px;
  }
  #eric .body .button-3 {
	top: 82px;
  }
  #eric .body .hand-left {
	-webkit-border-radius: 60% 160% 50% 100%;
	-moz-border-radius: 60% 160% 50% 100%;
	-ms-border-radius: 60% 160% 50% 100%;
	-o-border-radius: 60% 160% 50% 100%;
	border-radius: 60% 160% 50% 100%;
	position: absolute;
	top: 38px;
	left: -11px;
	width: 29px;
	height: 22px;
	background: #ede40b;
	z-index: 10;
  }
  #eric .body .hand-right {
	-webkit-border-radius: 60% 50% 50% 70%;
	-moz-border-radius: 60% 50% 50% 70%;
	-ms-border-radius: 60% 50% 50% 70%;
	-o-border-radius: 60% 50% 50% 70%;
	border-radius: 60% 50% 50% 70%;
	position: absolute;
	top: 35px;
	left: 140px;
	width: 29px;
	height: 25px;
	background: #ede40b;
	z-index: 10;
  }
  #eric .body .hand-right:before {
	-webkit-border-radius: 100% 28%;
	-moz-border-radius: 100% 28%;
	-ms-border-radius: 100% 28%;
	-o-border-radius: 100% 28%;
	border-radius: 100% 28%;
	content: " ";
	position: absolute;
	top: 5px;
	left: -5px;
	width: 29px;
	height: 18px;
	background: #ede40b;
  }
  #eric .legs {
	-webkit-border-radius: 0 0 10px 10px/37px;
	-moz-border-radius: 0 0 10px 10px/37px;
	-ms-border-radius: 0 0 10px 10px/37px;
	-o-border-radius: 0 0 10px 10px/37px;
	border-radius: 0 0 10px 10px/37px;
	position: absolute;
	left: 22px;
	top: 154px;
	width: 140px;
	height: 23px;
	background: #623919;
	z-index: 5;
  }
  #eric .legs .foot-left, #eric .legs .foot-right {
	-webkit-border-radius: 50% 50% 0 0/7px;
	-moz-border-radius: 50% 50% 0 0/7px;
	-ms-border-radius: 50% 50% 0 0/7px;
	-o-border-radius: 50% 50% 0 0/7px;
	border-radius: 50% 50% 0 0/7px;
	position: absolute;
	top: 18px;
	left: 2px;
	width: 70px;
	height: 8px;
	background: #21241e;
	z-index: 5;
  }
  #eric .legs .foot-right {
	left: 69px;
  }