:root {
	--primary-color: #00bcd4;
	--accent-color: #f50057;

	--text-color: #263238;
	--body-color: #80deea;
	--main-font: 'roboto';
	--font-bold: 700;
	--font-regular: 400;
}
* { box-sizing: border-box }

input, 
button {
	border: none;
	background: none;
	outline: 0;
}

button {cursor: pointer}
.SearchBox-input::placeholder {/* No es un seudoelemento estandar */
 color:white;
	opacity: .6;
}
/* Chrome, Opera ySafari */
.SearchBox-input::-webkit-input-placeholder {
  color: white;
}
/* Firefox 19+ */
.SearchBox-input::-moz-placeholder {
  color: white;
}
/* IE 10+ y Edge */
.SearchBox-input:-ms-input-placeholder {
  color: white;
}
/* Firefox 18- */
#formGroupExampleInput:-moz-placeholder {
  color: white;
}

.SearchBox {
	margin-bottom: 4vh;
	--height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 4px 0 0;
	
	border-radius: var(--height);
	background-color: rgb(175, 172, 172);
	height: var(--height);
}
	.SearchBox:hover .SearchBox-input {
		padding-left: 2em;
		padding-right: 1em;
		width: 240px;
	}
	.SearchBox-input {
		width: 0;
		font-size: 1.2em;
		color: #fff;
		transition: .45s;
	}
	.SearchBox-button {
		display: flex;
		border-radius: 50%;
		width: var(--height);
		height: var(--height);
		background-color: black;
		transition: .3s;
	}
	.SearchBox-button:active  {
		transform: scale(.85);
	}
	.SearchBox-icon {
		margin: auto;
		color: #fff;
	}


@media screen and (min-width: 400px){
	.SearchBox:hover .SearchBox-input {
		width: 175px;
	}
}