#error-game {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
}

#randy-balls {
    position: absolute;
    width: 250px;
    bottom: 5vh;
    right: 3vw;
}

#fags {
	position: absolute;
}

.fags-text {
	position: absolute;
	font-size: 50px;
	color: white;
	font-family: south_park_font;
}

.oups {
    top: 30vh;
}

.fags-quit {
    bottom: 30vh;
}