@font-face {
	font-family: south_park_font;
	src: url(../../../fonts/south\ park.ttf)
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row-start: infos;
	grid-column: column-1 / column-2;
}

.hello{
	position: absolute;
	left: 31%;
	font-size: 25px;
	font-weight: 200;
	color: #cecece;
	font-family: south_park_font;
	transition: all 0.5s ease;
	pointer-events: none;
  }

  #barre[type=text]:focus~.hello {
	  display: block;
	  color: black;
	  margin-top: -85px;
	  margin-left: -1%;
	  font-size: 16px;
	}

	#barre[type=text]:focus~.hello::after{
	visibility: hidden;
}

  #barre[type=text]:focus~.enter {
	background-color: rgb(71, 37, 5);
	position: absolute;
	content: ' '; 
	height: 1px;
	right: 46%; 
	margin-top: 50px; 
	transform: scaleX(4.8);
  }

  .enter{
	transition: all ease 0.5s;
	width: 8.3%;
	transform: scaleX(1);
  }

  #barre[type="text"]
  {
	font-size: 30px;
	font-family: Arial;
  }

 textarea, #barre {
	position: absolute;
	outline: none;
	border: 0;
	border-bottom: 1px solid #cecece;
	height: 50px;
	width: 40%; 
	/* font-family: south_park_font; */
	max-width: 40%;
  }

  #barre:focus{
	content: 'prout';
	/* font-family: south_park_font; */
	font-size: 200%;
  }

  button {
	z-index: 999999;
  }

@media (max-width: 850px) {
	.hello {
		font-size: 15px;
	}

	#barre[type=text]:focus~.hello {
		font-size: 10px;
	}
}
