.text-composer-container {
    height: 43%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
    padding-top: 2%;
}

#wizz-container-write-text {
    height: 25px;
    width: 25px;
}

.container-write-text {
    height: 100%;
    width: 64%;
    margin-left: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.upper-part-write-text:hover img {
    opacity: 0.7;
    /* Reduce image opacity on hover */
}

.profile-pic-container-emitter {
    height: 97%;
    width: 25%;
    margin-left: 6%;
    margin-right: 3%;
    margin-bottom: 3%;;
	background-color: #a2acc6;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #7483af;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic-last-block {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.individual-conv-pfp {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.My-name-in-conv {
/* Define a font stack similar to MSN Messenger */
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
    /* Replace 'Your Nice Font' with the desired font name */
    font-size: 16px;
    /* Adjust the font size as needed */
    margin-top: 10px;
    /* Add margin to separate the name from the profile picture */
}