#menu {
	height: 100vh;
	display: flex;
	align-items: center;
}

#choose_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choose_your_fighter {
  z-index: 1;
  /* left: 10vw; */
  position: absolute;
  top: 3%;
  text-align: center;
}


#bg--menu {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color:#89cede;
  position: relative;
  opacity: 0.7;

  left: 0;
  top: 0;
  z-index: 0;
}

.card {
	width: 200px;
	height: 300px;
	border-radius: 5%;
	object-fit: cover;
	border-radius: 5px;

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.card:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
	border: 5px solid goldenrod;
}

.grid {
	position: fixed;
	top: 20%;
	left: 10%;
	right: 10%;
	bottom: 20%;
	padding: 10px;

	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: repeat(2, 300px);
	align-content: center;
	justify-content: center;
  z-index: 2;
}

@media (max-width: 1000px) {
	.grid {
		grid-template-columns: repeat(2, 120px);
		grid-template-rows: repeat(4, 220px);
	}
}
