#bg-game {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}

#waiting {
	left: 5vw;
	top: 5vh;
	width: 90vw;
	height: 90vh;
	background-color: white;
	opacity: 75%;
	position: absolute;
	text-align: center;
}

#waiting-text {
	position: absolute;
	font-size: 50px;
	top: 45%;
	left: 0%;
}

#queue-button {
	position: absolute;
	font-size: 50px;
	top: 60%;
	left: 40%;
}