/* OUT THE QUEUE */

#bg-game {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}

#waiting {
	left: 5vw;
	top: 5vh;
	width: 90vw;
	height: 90vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#queue-button {
	position: absolute;
	width: 400px;
	height: 100px;
	background: #fff;
	border-radius: 999px;
	font-family: south_park_font;
	font-size: 150%;
}

#queue-button:hover {
	 animation: burn 1000ms ease-out forwards;
}

#queue-button:hover::before {
	 content: '';
	 position: absolute;
	 left: 40px;
	 width: 100px;
	 height: 40px;
	 background: rgba(255, 230, 110, 1);
	 border-radius: 100%;
	 animation: flare 1000ms ease-out forwards;
}

#queue-button:hover::after {
	 content: '';
	 position: absolute;
	 right: 40px;
	 width: 100px;
	 height: 40px;
	 background: rgba(255, 230, 110, 1);
	 border-radius: 100%;
	 animation: flare 1000ms ease-out forwards;
}

 @keyframes flare {
	 100% {
		 transform: translateY(-20px) scale(1.5);
		 filter: blur(10px);
		 opacity: 0;
	}
}
 @keyframes burn {
	 0% {
		 color: rgba(255, 130, 110, 1);
		 background: rgba(255, 230, 110, 1);
		 box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
	}
	 100% {
		 color: rgba(0, 0, 0, 1);
		 background: rgba(255, 255, 255, 1);
		 box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
	}
}

/* IN THE QUEUE */

#bg-black {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
}

#waiting-black {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#waiting-text {
	position: absolute;
	font-size: 50px;
	top: 68%;
	color: white;
	font-family: south_park_font;
}

#waiting-text::after {
	content: '...';
	animation: loadingAnimation 1.5s infinite steps(4);
}

#red-cross {
	position: absolute;
	top: 3vh;
	left: 3vw;
	height: 30px;
	width: 30px;
}

#balls_waiting {
	position: absolute;
}

@keyframes loadingAnimation {
	0%, 100% { content: ''; }
	25% { content: '.'; }
	50% { content: '..'; }
	75% { content: '...'; }
}
