@font-face {
	font-family: south_park_font;
	src: url(../../fonts/south\ park.ttf)
  }

body {
	padding: 0;
	margin: 0;
}

	  /* A CORRIGER POUR LE RESPONSIVE */
  /* @media only screen and (max-width: 768px) {
	body {
	  background-size: contain;
	}
  } */

#menu {
	height: 100vh;
	display: flex;
	align-items: center;
}

#bg-menu {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color:#89cede;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  transition: opacity 800ms ease, background-size 800ms ease;
}

#menu-items {
  margin-right: 7%;
  position: absolute;
  right: 30px;
  z-index: 2;
}

#menu-items:hover > .menu-item {
  opacity: 0.5;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
  background-color: goldenrod;
}

.menu-item {
  color: black;
  font-size: clamp(3rem, 8vw, 7rem);
  font-family: south_park_font;
  text-align: right;

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

  transition: opacity 400ms ease;
}

#dislaimer {
	height: 100vh;
	display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  background-color: black;
}

.dislaimer_img {
  position: relative;
  z-index: 3;
  width: 100%;
}

#clignote {
  position: absolute;
  width: 1%;
  height: 2%;
  bottom: 17%;
  right: 14.5%;
  z-index: 999;
  background-color: white;
}

