#decompte_bg {
  background-color: black;
  height: 100vh;
  z-index: 0;
}

#decompte {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15rem;
    font-family: south_park_font;
    height: 100vh;
    z-index: 1;
}

.countdown {
    animation: fadeIn 1s ease-in-out;
}

.countdown.hide {
    animation: fadeOut 1s ease-in-out;
  }

#ike {
  position: absolute;
  height: 250px;
  left: 50vw;
  top: 40vh;
  animation: zoomAnimation 0.5s linear infinite; /* Ajout de l'animation */
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1); /* Zoom normal au début et à la fin */
  }
  100% {
    transform: scale(4); /* Zoom à 200% au milieu de l'animation */
  }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }