/* Base styles for DropdownContact */
.dropdown-contact {
  position: relative;
  display: inline-block;
}

.dropdown-contact-toggle {
  color: #333; /* Dark text color */
  border: none;
  /* padding: 10px 20px; */
  cursor: pointer;
}

.dropdown-contact-menu {
  position: absolute;
  background-color: #f9f4e1; /* Light beige background color for the menu */
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.dropdown-contact-menu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

/* Hover effect for menu items */
.dropdown-contact-menu li:hover {
  background-color: #f5e1b2; /* Change background color on hover */
}

/* Dropdown animation */
.dropdown-contact:hover .dropdown-contact-menu {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
