/* Base styles for DropdownContact */
.dropdown-contact {
  width: 13%;
  display: inline-block;
}

.dropdown-contact .option-conversation-option {
	width: 100%;
	height: 100%;
}

.dropdown .option-conversation-option li:hover {
    background-color: #e2dec6;
}

.dropdown-contact-toggle {
	color: #333; /* Dark text color */
	border: none;
	/* padding: 10px 20px; */
	cursor: pointer;
}

.dropdown-contact-menu {
	position: absolute;
	background-color: #f9f4e1;
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 13px;
	z-index:2;
}

.dropdown-contact-menu li {
	padding: 10px 20px;
	cursor: pointer;
}

.dropdown .option-conversation-option li:hover {
	background-color: #e2dec6;
}
/* Hover effect for menu items */
.dropdown-contact-menu li:hover {
  background-color: #e2dec6;
}

/* Dropdown animation */
.dropdown-contact:hover + .dropdown-contact-menu {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/****Add Friend ***/

.contact-addfriend-container {
	border-radius: 5px;
	position: fixed;
	display: flex;
	top: 41%;
	left: 40%;
	width: 400px;
	height: 150px;
	transform: translate(-50%, -50%);
	flex-direction: column;
	padding: 0;
	margin: 0;
	background-color: #E9E8D7;
	box-shadow: inset -1px -1px #00138c, 
	inset 1px 1px #0831d9, 
	inset -2px -2px #001ea0, 
	inset 2px 2px #166aee, 
	inset -3px -3px #003bda, 
	inset 3px 3px #0855dd;
}

/****delete***/

.contact-delete-container {
	border-radius: 5px;
	position: fixed;
	display: flex;
	top: 59%;
	left: 36%;
	width: 400px;
	height: 150px;
	transform: translate(-50%, -50%);
	flex-direction: column;
	padding: 0;
	margin: 0;
	background-color: #E9E8D7;
	box-shadow: inset -1px -1px #00138c, 
	inset 1px 1px #0831d9, 
	inset -2px -2px #001ea0, 
	inset 2px 2px #166aee, 
	inset -3px -3px #003bda, 
	inset 3px 3px #0855dd;
}

/*****Block********/

.contact-block-container {
	border-radius: 5px;
	position: fixed;
	display: flex;
	top: 35%;
	left: 27%;
	width: 400px;
	height: 150px;
	transform: translate(-50%, -50%);
	flex-direction: column;
	padding: 0;
	margin: 0;
	background-color: #E9E8D7;
	box-shadow: inset -1px -1px #00138c, 
	inset 1px 1px #0831d9, 
	inset -2px -2px #001ea0, 
	inset 2px 2px #166aee, 
	inset -3px -3px #003bda, 
	inset 3px 3px #0855dd;
	z-index: 2;
}

/****Invite****/

.contact-invite-container {
	border-radius: 5px;
	position: fixed;
	display: flex;
	/* gap: 10px;   */
	top: 25%;
	left: 55%;
	width: 400px;
	height: 150px;
	transform: translate(-50%, -50%);
	flex-direction: column;
	padding: 0;
	margin: 0;
	background-color: #E9E8D7;
	/* Lighter beige background color */
	box-shadow: inset -1px -1px #00138c, 
	inset 1px 1px #0831d9, 
	inset -2px -2px #001ea0, 
	inset 2px 2px #166aee, 
	inset -3px -3px #003bda, 
	inset 3px 3px #0855dd;
}

.contact-invite-navbar {
	padding: 0;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	height: 50px;

    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    );

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	border: 1px solid #0831d9;
}

.invite-contact-title {
    flex: 1;
    font-family: trebuchet_ms_xp;
    letter-spacing: 1px;
    font-size: 90%;
    font-weight: bold;
    color:white;
    text-shadow: 1px 1px #0f1089;
    text-indent: 2%;
}

.contact-invite-navbar img {
	padding: 0;
	margin: 0;
	width: 30px;
	height: 30px;
}

#logo {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.ddc-right-icons {
    display: flex;
    align-items: center; /* Center vertically */
}

.question {
	font-weight: normal;
	color: rgb(68, 66, 38);
	margin-right: 10px;
}

.contact-invite-fieldset {
	box-shadow: none;
    background: #fff;
    border: 1px solid #d0d0bf;
    border-radius: 4px;
    padding-top: 10px;
	width: 92%;

	margin-top: 15px;
	margin-left: 15px;
    margin-right: 15px;
}

.contact-invite-legend {
    background: transparent;
    color: #0046d5;
	font-size: 11px;
}

.contact-invite-form {
	margin: 0;
	padding: 0;
	height: 91%;
	width: 95%;

	margin-left: 15px;
	margin-right: 15px;
	font-family: tahoma_xp;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-invite-input {
	height: 33%;
	width: 100%;
	font-size: 7px;

	margin-left: 25px;


	display: flex;
	flex-direction: row;
	align-items: center;
}

.ze-input {
	padding: 3px 4px;
    border: 1px solid #7f9db9;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    height: 21px;
    line-height: 2;
}

.buttons-invite-cancel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	height: 50%;
	gap: 5px;
	margin-right: 15px;
}

.contact-invite-cancel, .contact-invite-enter {
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	box-sizing: border-box;
	border: 1px solid #003c74;
	background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(236, 235, 229) 86%, rgb(216, 208, 196) 100%);
	box-shadow: none;
	border-radius: 3px;
	color: rgb(68, 66, 38);
}

.contact-invite-cancel:not(:disabled):active, .contact-invite-cancel:not(:disabled).active,
.contact-invite-enter:not(:disabled):active, .contact-invite-enter:not(:disabled).active {
	box-shadow: none;
	background: linear-gradient(180deg, rgb(205, 202, 195) 0%, rgb(227, 227, 219) 8%, rgb(229, 229, 222) 94%, rgb(242, 242, 241) 100%);
}

.contact-invite-cancel:not(:disabled):hover,  .contact-invite-enter:not(:disabled):hover{
	box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

.contact-invite-cancel:focus, .contact-invite-cancel.focused,
.contact-invite-enter:focus, .contact-invite-enter.focused {
	box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
}

.contact-invite-cancel::-moz-focus-inner, .contact-invite-enter::-moz-focus-inner{
	border: 0;
}


/********SendMp********/

.contact-sendMp-container {
	border-radius: 5px;
	position: fixed;
	display: flex;
	top: 72%;
	left: 42%;
	width: 400px;
	height: 150px;
	transform: translate(-50%, -50%);
	flex-direction: column;
	padding: 0;
	margin: 0;
	background-color: #E9E8D7;
	box-shadow: inset -1px -1px #00138c, 
	inset 1px 1px #0831d9, 
	inset -2px -2px #001ea0, 
	inset 2px 2px #166aee, 
	inset -3px -3px #003bda, 
	inset 3px 3px #0855dd;
}